<h4>add new word</h4>
<form method="post" action="/api/new">
  <input type="text" name="word">
  <input type="text" name="memo">
  <input type="checkbox" name="tag" value="0">
  <input type="checkbox" name="tag" value="1">
  <input type="checkbox" name="tag" value="2">
  <input type="submit" value="add!">
</form>

<ul>
<% @countOfMonth.each do |countOfMonth| %>
  <a href="/list/<%= countOfMonth[0] %>"><li><%= countOfMonth[0] %> <%= countOfMonth[1] %></li></a>
<% end %>
</ul>
