<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>title</title>
</head>
<body>
<ul>
  <% @words.each do |word| %>
    <li><%= word.word %></li>
  <% end %>
</ul>
</body>
</html>
